body {
	font-family: roboto;
	color: #fff;
	background: url(img/background.png);
	margin: 0;
}
.header {
	margin: 130px 0 60px 100px;
}
.header__title {
	font-size: 57px;
	line-height: 67px;
	margin: 0 0 10px 0;
}
.header__discription {
	font-size: 19px;
	line-height: 22px;
	margin: 0 0 0 5px;
}
.level__container {
	margin: 0 0 0 110px;
	max-width: 275px;
	min-height: 225px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.general {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.container__rhomb {
	display: none;
	width: 18px;
    height: 18px;
    background: #D62B2E;;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.container__text {
	margin: 0 0 0 23px;
	font-size: 50px;
	line-height: 59px;
}

.container__rhomb-change {
	display: block;
	cursor: pointer;
}
.container__text-change {
	color: #8B0000;
	cursor: pointer;
}

.play__container {
	display: flex;
	justify-content: space-between;
	max-width: 700px;
	margin: 0 0 0 100px;
}
.play__start {
	margin: 110px 0 0 0;
}
.start__button {
	font-size: 32px;
	line-height: 37px;
	background: #D62B2E;
	border-radius: 7px;
	width: 352px;
	height: 95px;
	left: 103px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.start__button-change {
	cursor: pointer;
	background: #8B0000;
	color: #e0ffff;
}
.play__card {
	position: relative;
}
.card__one {
	position: absolute;
	left: 50px;
}
.card__two {
	position: absolute;
	left: 180px;
}